@font-face {
    font-family: 'salarymanregular';
    src: url('/assets/SALARYMA-webfont.eot');
    src: url('/assets/SALARYMA-webfont.eot?#iefix') format('embedded-opentype'),
         url('/assets/SALARYMA-webfont.woff') format('woff'),
         url('/assets/SALARYMA-webfont.ttf') format('truetype'),
         url('/assets/SALARYMA-webfont.svg#salarymanregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
