h1, h2, h3, h4, h5, h6 {
	font-family: 'helvetica neue', helvetica;
  	font-weight: 100;
  	margin:0;
    padding:0;
}

body {
	background: url('/assets/beer.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	background-size: cover;
	font-family: 'helvetica neue', helvetica;
  	font-weight: 300;
  }	


.navbar.navbar-inverse {
  background:url('/assets/stressed_linen.png');
  border-radius:0;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
}

.navbar-inverse .navbar-brand{
  font-family: 'salarymanregular';
  color: #FFFFFF;
  font-size: 26px;
}
.navbar-inverse .navbar-brand:hover{
  color: #ABABAB

}
.navbar-inverse .navbar-text {
	font-family: 'salarymanregular';
  text-decoration: none;
  color: #FFFFFF;
  font-size: 22px;
  padding-top: 17px;
  margin: -5px;

}
.navbar-inverse .navbar-text:hover{
	color:#FFFFFF;
}

.navbar-brand {
	max-width:100px; 
	margin-top: -6px;

}

.navbar-inverse .navbar-text{
	color: #23527c;
	display: inline-block;
	vertical-align: center;
}

.navbar-nav > li > a{
	color: #23527c;
}

.navbar-nav{
	padding-left: 30px
}

.booyah-box{
  -webkit-box-shadow:1px 1px 2px 0 #d0d0d0;
  -moz-box-shadow:1px 1px 2px 0 #d0d0d0;
  box-shadow:1px 1px 2px 0 #d0d0d0;
  background:#fff;
  border:1px solid #ccc;
  border-color:#e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top:10px;
  margin-bottom:15px;
  padding:20px;
}

.pagination > li > a{
  color: #FFFFFF;
background:url('/assets/stressed_linen.png');
border:#000000;
}
.pagination > li > a:hover{
  color:#23527c
}

.pagination > .disabled > span:hover{
  background-color:#000000;
}
.pagination > .active > span{
  background:url('/assets/stressed_linen.png');
  border:#000000;
}

.pagination > .active > span:hover{
  background-color:#000000;

}

.pagination > .disabled > span {
  background:url('/assets/stressed_linen.png');
  border:#000000;
}
.detail-box{
  padding-top:30px;
}
.panel-default{
    border-radius:0;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.7);
    margin-top: 4px;
 
}
.panel-heading{
  font-size:50px;
}
.panel-heading a:hover{
  text-decoration:none;
}
.btn-default{
  border-radius:0;
  background-color: #e6e6e6;
  border-color: #dbdbdb;
}
.btn-default:hover{
  background-color: #d6d6d6;
}


.btn-primary{
  border-radius:0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.btn-primary:hover{
  background-color:#000000 rgba(0, 0, 0, 0.8);
}
.btn-danger{
  border-radius:0;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
}
.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}
.clear {
    clear: both;
}

#map {
  height: 200px;
 
}

.comments {
  background-color: #ffffff;
  padding:0px;
  margin-top: 0px;
  margin-bottom:20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.7);


}
.comment_header{
  padding: 15px;
  
}
.big_comment{
font-size: 40px;
padding-bottom:7px;
}
.comment_title_box{
  text-align:center;
  background-color:#ffffff;
  width:100%;
  padding:0px;
  box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
  
}
.comment_button{
  margin-top:10px;
}

.comment_img{
  margin-top: 50px;
  margin-left:160px;
  font-size:50px
}




.caption{
  padding:10px;
  margin-left:0px;
  margin-top:10px;
  margin-bottom:30px;
  background: #f5f5f5;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
.add_a_comment{
  margin-top:15px;
}

blockquote {
  background: #f5f5f5;
  border-left: 10px solid #ccc;
  margin: 1em 5px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
.index_comment{
  margin-top:10px;
  margin-left:0px;
}
.box{
  margin:center auto;
}
.pic-box{
  
}

.description{
  padding-top:15px;
  padding-left: 15px;
      
}