<% @places.each do |place| %>
  <div class="detail-box col-xs-12 col-sm-10 col-sm-offset-1">
	<div class="panel panel-default">
	  <div class="panel-heading">	  
		    <h1><%= place.name %></h1>
	  </div>
	    <div class="panel-body"> 
	    	<h4> Address:</h4>	  
		    <p><%= place.address %></p><br />
		    <p><%= place.description %></p><br />
	    </div>
	</div>	 	 
  </div>
		 	<% end %>

		<!--Pagination -->		
				<div class="text-center">
					<ul class="pagination">
						<%= will_paginate @places, renderer: BootstrapPagination::Rails %>
					</ul>		    
				</div>